<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="auction.org.droidflatauction">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXVZ40TKE3y5Z-EGDWDmvj_DxcWfTU-mk " />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
       <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity android:name=".NonMemberHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="auction.org.droidflatauction.SignIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpStep1"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="auction.org.droidflatauction.SignIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpStep2"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="auction.org.droidflatauction.SignIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpStep3"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="auction.org.droidflatauction.SignIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpStep4"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="auction.org.droidflatauction.SignIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpStep5"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="auction.org.droidflatauction.SignIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".NonMemberSearch" />
        <activity
            android:name=".MemberDashboard"
            android:label="@string/title_activity_member_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileDashboard"
            android:label="@string/title_activity_profile_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditUserProfile"
            android:label="@string/title_activity_edit_user_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageAdvertDashboard"
            android:label="@string/title_activity_manage_advert_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MessageDashboard"
            android:label="@string/title_activity_message_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountSettingsDashboard"
            android:label="@string/title_activity_account_settings_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MemberPropertySearch"
            android:label="@string/title_activity_member_property_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAdvertStep1"
            android:label="@string/title_activity_create_advert_step1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAdvertStep1"
            android:label="@string/title_activity_my_advert_step1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SavedAdvertStep1"
            android:label="@string/title_activity_saved_advert_step1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageAdvertIndividualAdBidsStep1"
            android:label="@string/title_activity_manage_advert_individual_ad_bids_step1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageAdvertRanking"
            android:label="@string/title_activity_manage_advert_ranking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageAdvertFAQ"
            android:label="@string/title_activity_manage_advert_faq"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAdvertStep2"
            android:label="@string/title_activity_create_advert_step2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAdvertStep3"
            android:label="@string/title_activity_create_advert_step3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAdvertStep4"
            android:label="@string/title_activity_create_advert_step4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAdvertStep5"
            android:label="@string/title_activity_create_advert_step5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAdvertStep6"
            android:label="@string/title_activity_create_advert_step6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageAdvertAccountSettingsStep"
            android:label="@string/title_activity_manage_advert_account_settings_step"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAdvertStep2"
            android:label="@string/title_activity_my_advert_step2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MemberPropertySearchProduct"
            android:label="@string/title_activity_member_property_search_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyAdvertStep3"
            android:label="@string/title_activity_my_advert_step3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SavedAdvertStep2"
            android:label="@string/title_activity_saved_advert_step2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAdvertStep7"
            android:label="@string/title_activity_create_advert_step7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PropertyBidList"
            android:label="@string/title_activity_property_bid_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactThoughMessage"
            android:label="@string/title_activity_contact_though_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MessageInbox"
            android:label="@string/title_activity_message_inbox"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MessageShow"
            android:label="@string/title_activity_message_show"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageAdvertStatsStep1"
            android:label="@string/title_activity_manage_advert_stats_step1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageAdvertStatsStep2"
            android:label="@string/title_activity_manage_advert_stats_step2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MessageSent"
            android:label="@string/title_activity_message_sent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PropertyPlaceBid"
            android:label="@string/title_activity_property_place_bid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAdvertStep8"
            android:label="@string/title_activity_create_advert_step8"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowAdvertProductDetails"
            android:label="@string/title_activity_show_advert_product_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>